h1 {
  color: #929292;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h3 {
  color: #5d5d5d;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5 {
  color: #696969;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #777;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.color-1 {
  color: #e3e3e3;
}
