*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #D6EAF8;
}

.home {
    background-color: #7FB3D5;
    position: absolute;
}

.background {
    background-color: #7fb3d5;
    width: 100%;
    height: 1244px;
}

.rectangle8 {
    background-color: #5499c7;
    height: 857px;
    width: 840px;
    left: 1080px;
    top: 196px;
    position: absolute;
}

.header {
    width: 1847.017333984375px;
    transform: rotate(0deg);
    border: 2px solid #333333;
    top: 82px;
    left: 36px;
    position: absolute;
}

.image19 {
    height: 855px;
    width: 837px;
    left: 1083px;
    top: 196px;
    position: absolute;
}

.icon {
    height: 700px;
    width: 700px;
    left: 1150px;
    top: 249px;
    position: absolute;
}

.image17 {
    height: 1002px;
    width: 968px;
    left: 36px;
    top: 143px;
    position: absolute;
}

.kanji {
    height: 200px;
    width: 379.00872802734375px;
    left: 363px;
    top: 668px;
    position: absolute;
}

.olaeusou {
    color: #333333;
    text-align: center;
    vertical-align: text-top;
    font-size: 60px;
    font-family: Poppins;
    left: 128px;
    top: 333px;
    width: 328px;
    height: 90px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.lucastamura {
    color: #1e1e1e;
    text-align: center;
    vertical-align: text-top;
    font-size: 128px;
    font-family: Poppins;
    left: 128px;
    top: 396px;
    width: 917px;
    height: 192px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.sobre {
    color: #463f3f;
    text-align: center;
    vertical-align: text-top;
    font-size: 32px;
    font-family: Poppins;
    left: 1230px;
    top: 19px;
    width: 93px;
    height: 48px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.experiências {
    color: #463f3f;
    text-align: center;
    vertical-align: text-top;
    font-size: 32px;
    font-family: Poppins;
    left: 1363px;
    top: 19px;
    width: 199px;
    height: 48px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.projetos {
    color: #463f3f;
    text-align: center;
    vertical-align: text-top;
    font-size: 32px;
    font-family: Poppins;
    left: 1614px;
    top: 19px;
    width: 128px;
    height: 48px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.cursos {
    color: #463f3f;
    text-align: center;
    vertical-align: text-top;
    font-size: 32px;
    font-family: Poppins;
    left: 1767px;
    top: 19px;
    width: 112px;
    height: 48px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.icon-home {
    height: 75px;
    width: 75px;
    left: 41px;
    top: 2px;
    position: absolute;
}